<div class="sidebar">
    <div class="info">
        <img src="https://static2.yan.vn/YanNews/2167221/202003/dan-mang-du-trend-thiet-ke-avatar-du-kieu-day-mau-sac-tu-anh-mac-dinh-b0de2bad.jpg" alt="Ảnh đại diện" class="info__img">
        <div class="group">
            <p class="info__username">tuannt02</p>
            <p class="info__btn_edit">
                <i class='bx bx-edit-alt'></i>                            
                Sửa
            </p>
            
        </div>
        <div class="divider"></div>
    </div>
    <div class="tab_list">
        <ul class="tablist_lv">
            <li class="tablist_i">
                <i class='bx bxs-user li_icon'></i>
                <a href="#" class="tag" id="tkct">Tài khoản của tôi</a>
                <ul>
                    <li><a href="/user/account/profile" class="tag" id="tkct_01">Thông tin cá nhân</a></li>
                    <li><a href="/user/account/address" class="tag" id="tkct_02">Địa chỉ giao hàng</a></li>
                    <li><a href="/user/account/password" class="tag" id="tkct_03">Đổi mật khẩu</a></li>
                </ul>
            </li>
            <li class="tablist_i">
                <i class='bx bx-purchase-tag-alt li_icon'></i>
                <a href="/user/purchase" class="tag" id="dhdm">Đơn hàng đã mua</a>
            </li>
            <li class="tablist_i">
                <i class='bx bxs-bell li_icon'></i>
                <a href="/user/notifications" class="tag" id="tb">Thông báo</a>
            </li>
        </ul>
    </div>
</div>