@import 'variables';

body    {
    height: 100vh;
}

.search-form    {
    width: 50%;
    transform: translate(50%,50%);
}

.card-course-item   {
    margin-top: 10px;
}

.wrapper    {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container  {
    border: 1px solid #888;
    width: 440px;
    // height: calc(100% - 80px);
}