@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');


#filter {
    display: flex;
    margin: 15px 20px;
    
    .form-search    {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-right: 40px;
        .filter-category    {
            // display: flex;
            // flex-direction: column;
            // width: 20%;
            // margin-right: 40px;
    
            .filter-box {
                background-color: #f4f4f4;
                margin-bottom: 20px;
                border-radius: 4px;
    
                .filter-title   {
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    border-bottom: 1px solid #dfdfdf;
    
    
                    h3  {
                        display: inline;
                    }
    
                    i   {
                        cursor: pointer;
                    }
    
    
                }
    
                .filter-content {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
    
                    label {
                        margin-bottom: 5px;
    
                        span {
                            margin-left: 4px;
                            font-size: 16px;
                        }
                    }
                }
    
                .filter-size    {
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
    
                    .label-size {
                        width: 50%;
                    }
                }
    
                .hide   {
                    display: none;
                }
    
            }
    
            .btn-search {
                padding: 8px 8px;
                background-color: $pri-col;
                border: none;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                border-radius: 4px;
                cursor: pointer;
            }
    
    
            .btn-search.hide {
                display: none;
            }
    
        }
    }



    .filter-product {
        width: 80%;

        .filter-product-title {
            justify-content: space-between;
            background-color: #f0f0f0;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 4px;
      
            .product-sort {
                align-items: center;
      
                select {
                    margin-left: 1rem;
                    padding: 0.5rem;
                    border: none;
                    outline: none;
                }
            }
        }
      
        #products-for-you {
            margin: 0;
    
            .product-for-you-item {
                width: calc(100% / 4 - 2rem);
            }
        }
    }

}



/* Products For You */
#products-for-you {
    margin: 1.5rem 8rem;
    border-radius: 6px;
    background-color: #f4f4f4;
  
    h3 {
        color: $black;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1.5rem 1.1rem;
    }
  
    .products-for-you-list {
        padding: 4px 12px 12px 12px;
        display: flex;
        flex-wrap: wrap;
  
        .product-for-you-item {
        
            margin-top: 8px;
            margin-right: 8px;
            background-color: $white;
            border-radius: 4px;
            padding: 8px;
            width: calc(100% / 5 - 20px);
            display: flex;
            flex-direction: column;
            overflow: hidden;
  
            .product-name   {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
                margin-top: 4px;
                min-height: 32px;
                color: #000;
                font-size: 13.5px;
                font-weight: 400;
            }

            .product-star {
                font-size: 1.4rem;
                padding-top: 0.5rem;
                color: #eee;
        
                i:first-child {
                    color: rgb(243, 181, 25);
                }
            }

            .product-price-wrapper  {
                color: $pri-col;
                font-weight: 600;
                display: flex;

                .product-price  {
                    flex: 1;
                }
            }
  
            .product-price-initial  {
                display: flex;
                align-items: center;

                p   {
                    font-size: 12px;
                    color: #82869e;
                    text-decoration: line-through;
                    margin-right: 20px;
                }

                .sale-off   {
                    font-size: 12px;
                    color: $pri-col;
                }
            }
  
            @media (min-width: 992px) and (max-width: 1199.98px) {
                width: calc(100% / 4 - 2rem);
                height: 32.1rem;
            }
        }
    }
}


.d-flex {
    display: flex;
}