/* Reset CSS */
*   {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html    {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.modal  {
    background-color: #F5F5F5;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 500px;
    height: fit-content;
    padding: 32px;
    background-color: #fff;
}

.modal__content #txt_title    {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.input_email    {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #A39494;
}

.input_email:focus  {
    outline: #1A94FF auto 2px;
}

.form-group.error .input_email  {
    border-color: red;
}

.form-group.error .notify {
    color: red;
}

.form-group.success .notify {
    color: #46BE7D;
}

.btn_send   {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    background-color: #1A94FF;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.btn_send:hover {
    cursor: pointer;
    opacity: 0.9;
}

.notify {
    margin-top: 10px;
    font-size: 12px;
}

.notify.success {
    color: #46BE7D;
}

.txt_remember_pw    {
    margin-top: 20px;
    font-size: 13px;
    text-align: right;
}
.txt_remember_pw .route_login   {
    color: #1A94FF;
}