@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.navbar {
    width: 100%;
    height: 70px;
    background-color: $nav-col;

    .container  {
        width: 100%;
        height: 100%;
        padding: 0 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a   {
            text-decoration: none;
            color: $pri-col;
        }

        .brandName a {
            font-size: 35px;
            font-family: "Faster One", cursive;
        }

        > a {
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
        }
    }

}