@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');



#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background-color: $nav-col;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
  
    .logo {
      color: $pri-col;
      font-size: 3.5rem;
      font-family: 'Faster One', cursive;
    }
  
    div {
      display: flex;
      align-items: center;
      width: 25%;
  
      input {
        padding: 0.8rem 2.4rem;
        width: 100%;
        border: none;
        border-radius: 0.4rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1.4rem;
      }
  
      a {
        padding: 0.65rem;
        background-color: $pri-col;
        border-radius: 0.4rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $white-col;
      }
    }
  
    .menu-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #1a1a1a;
  
      i {
        font-size: 3.2rem;
        margin-bottom: 0.6rem;
      }
  
      span {
        font-size: 1.5rem;
      }
      &:hover {
        color: $pri-col;
      }
    }
  }


.header li  {
  position: relative;
}

.subnav {
  background-color: #fff;
  position: absolute; 
  border-radius: 4px;
  li  {
    padding: 8px 10px;

    a {
      color: #1a1a1a;
    }
    a:hover {
      color: $pri-col;
    }
  }

}

.hide {
  display: none;
}