@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Contain */
.contain    {
    width: 100%;
    height: calc(100%);
    margin: 20px;
    background-color: white;
    flex: 1;
    position: relative;
}

/* Content header */
.contain .contain__header   {
    padding: 20px 32px;
}

.contain__header .sub_title {
    font-size: 12px;
    color: #A39494;
    margin-bottom: 6px;
}

.contain__header .btnAdd    {
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #1A94FF;
    position: absolute;
    top: 24px;
    right: 32px;
}

.contain__header .btnAdd:hover  {
    cursor: pointer;
    opacity: 0.9;
}

/* Content body */
.contain__body {
    padding-bottom: 10px;
}

/* addr item */
.contain__body .notify_item {
    padding: 0px 32px;
}

.contain__body .notify_group   {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Img */
.notify_group .img_item  {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
}

/* Info */
.notify_group .info_item {
    margin-left: 32px;
    flex-basis: 70%;
    position: relative;
}

.info_item .title   {
    font-size: 13.5px;
    font-weight: 600;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_item .name    {
    margin-top: 6px;
    font-size: 13.5px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field {
    font-size: 12px;
    color: #A39494;
    position: absolute;
    bottom: 0;
}

.field .field_name    {
    display: inline;
}

.field .field_val    {
    margin-left: 5px;
    display: inline;
}

/* Price */
.notify_group .price {
    flex: 1;
    margin-top: 10px;
    width: 100%;
    text-align: end;
    font-size: 14px;
}

.price .regular_price   {
    text-decoration: line-through;
}

.price .discount_price  {
    color: #1A94FF;
}


.notify_item .divider2 {
    height: 0.6px;
    background-color: #A39494;
}