@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Contain */
.contain    {
    width: 100%;
    height: calc(100% -40px);
    margin: 20px;
    background-color: white;
    flex: 1;
    position: relative;
}

/* Content header */
.contain .contain__header   {
    padding: 20px 32px;
}

.contain__header .sub_title {
    font-size: 12px;
    color: #A39494;
    margin-bottom: 6px;
}

/* Content body */
.contain__body  {
    width: 100%;
    height: fit-content;
    padding: 10px 32px;
    margin-top: 32px;
}

.form-group {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

.form-group .form-label {
    text-align: end;
    display: inline-block;
    width: 200px;
    color: #A39494;
    align-self: center;
    padding-right: 20px;
    font-size: 15px;
}

.form-group .form-label + input {
    border: 1px solid #A39494;
    border-radius: 2px;
    flex-basis: 40%;
}

.form-group .form-label + input:focus   {
    outline: #1A94FF auto 2px;
}

.form-group .form-control   {
    font-size: 14px;
    padding: 8px 10px;
}

.form-group .form-text  {
    position: absolute;
    bottom: -20px;
    left: 200px;
    font-size: 12px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group.error .form-text    {
    color: red;
}

.contain__body .btnChange {
    margin-left: 200px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    background-color: #1A94FF;
}

.btnChange:hover  {
    cursor: pointer;
    opacity: 0.9;
}