.divider    {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #000;
}

.divider2   {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.divider3   {
    width: 1px;
    height: 350px;
    background-color: #000;
}


.main   {
    width: 100%;
    min-height: calc(100vh - 70px);
    height: 100%;
    background-color: #F6F6F6;
    display: flex;
}


.sidebar    {
    width: 240px;
    height: 100%;
    /* background-color: aqua; */
}

.info   {
    padding: 20px;
    display: flex;
    position: relative;
}

.sidebar .info .info__img  {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1.5px solid black;
}

.sidebar .info .info__username  {
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 14px;
}

.info__btn_edit {
    font-size: 14px;
    margin-left: 14px;

}

.info__img:hover,
.info__btn_edit:hover   {
    cursor: pointer;
    opacity: 0.9;
}

.info .divider  {
    position: absolute;
    bottom: 0;
}

/* Sidebar - Tablist */
.tab_list   {
    padding: 20px;
}

.tab_list li    {
    list-style: none;
}

.tab_list a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.tab_list a:hover   {
    cursor: pointer;
    color: #1A94FF;
}

.tab_list ul ul a   {
    display: inline-block;
    margin-left: 40px;
    padding: 2px;
    font-size: 14px;
}

.tablist_i.collapse > ul    {
    display: none;
}

.tablist_i > .tag   {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.active {
    color: #1A94FF;
}


.li_icon    {
    color: #1A94FF;
}