<div class="contain">
    <div class="contain__header">
        <p class="title">Thông báo</p>
        <p class="sub_title">Liên tục cập nhật khi có sản phẩm giảm giá</p>
        <button class="btnAdd">Nhắc tôi khi có thông báo mới</button>
        <div class="divider2"></div>
    </div>
    <div class="contain__body">
        <div class="notify_item">
            <div class="notify_group">
                <img src="https://product.hstatic.net/1000312859/product/xanh_01_0f7e7d3f8a80460ea9af26c570299d8d_large.png" alt="" class="img_item">
                <div class="info_item">
                    <p class="title">Giảm giá 25% cho ngày lễ 30/4 và 1/5. Dành cho 300 khách hàng nhanh nhất</p>
                    <p class="name">ADIDAS X SPEEDFLOW.3 TF GW7508 SAPPHIRE EDGE - SKY RUSH khách hàng nhanh nhất</p>
                    <div class="field">
                        <p class="field_name">Ngày kết thúc:</p>
                        <p class="field_val">02/05/2022</p>
                    </div>
                </div>
                <div class="price">
                    <p class="regular_price">1.900.000 đ</p>
                    <p class="discount_price">1.390.000 đ</p>
                </div>
            </div>
            <div class="divider2"></div>
        </div>
        <div class="notify_item">
            <div class="notify_group">
                <img src="https://product.hstatic.net/1000312859/product/xanh_01_0f7e7d3f8a80460ea9af26c570299d8d_large.png" alt="" class="img_item">
                <div class="info_item">
                    <p class="title">Giảm giá 25% cho ngày lễ 30/4 và 1/5. Dành cho 300 khách hàng nhanh nhất</p>
                    <p class="name">ADIDAS X SPEEDFLOW.3 TF GW7508 SAPPHIRE EDGE - SKY RUSH khách hàng nhanh nhất</p>
                    <div class="field">
                        <p class="field_name">Ngày kết thúc:</p>
                        <p class="field_val">02/05/2022</p>
                    </div>
                </div>
                <div class="price">
                    <p class="regular_price">1.900.000 đ</p>
                    <p class="discount_price">1.390.000 đ</p>
                </div>
            </div>
            <div class="divider2"></div>
        </div>
        <div class="notify_item">
            <div class="notify_group">
                <img src="https://product.hstatic.net/1000312859/product/xanh_01_0f7e7d3f8a80460ea9af26c570299d8d_large.png" alt="" class="img_item">
                <div class="info_item">
                    <p class="title">Giảm giá 25% cho ngày lễ 30/4 và 1/5. Dành cho 300 khách hàng nhanh nhất</p>
                    <p class="name">ADIDAS X SPEEDFLOW.3 TF GW7508 SAPPHIRE EDGE - SKY RUSH khách hàng nhanh nhất</p>
                    <div class="field">
                        <p class="field_name">Ngày kết thúc:</p>
                        <p class="field_val">02/05/2022</p>
                    </div>
                </div>
                <div class="price">
                    <p class="regular_price">1.900.000 đ</p>
                    <p class="discount_price">1.390.000 đ</p>
                </div>
            </div>
            <div class="divider2"></div>
        </div>
        <div class="notify_item">
            <div class="notify_group">
                <img src="https://product.hstatic.net/1000312859/product/xanh_01_0f7e7d3f8a80460ea9af26c570299d8d_large.png" alt="" class="img_item">
                <div class="info_item">
                    <p class="title">Giảm giá 25% cho ngày lễ 30/4 và 1/5. Dành cho 300 khách hàng nhanh nhất</p>
                    <p class="name">ADIDAS X SPEEDFLOW.3 TF GW7508 SAPPHIRE EDGE - SKY RUSH khách hàng nhanh nhất</p>
                    <div class="field">
                        <p class="field_name">Ngày kết thúc:</p>
                        <p class="field_val">02/05/2022</p>
                    </div>
                </div>
                <div class="price">
                    <p class="regular_price">1.900.000 đ</p>
                    <p class="discount_price">1.390.000 đ</p>
                </div>
            </div>
            <div class="divider2"></div>
        </div>
        <div class="notify_item">
            <div class="notify_group">
                <img src="https://product.hstatic.net/1000312859/product/xanh_01_0f7e7d3f8a80460ea9af26c570299d8d_large.png" alt="" class="img_item">
                <div class="info_item">
                    <p class="title">Giảm giá 25% cho ngày lễ 30/4 và 1/5. Dành cho 300 khách hàng nhanh nhất</p>
                    <p class="name">ADIDAS X SPEEDFLOW.3 TF GW7508 SAPPHIRE EDGE - SKY RUSH khách hàng nhanh nhất</p>
                    <div class="field">
                        <p class="field_name">Ngày kết thúc:</p>
                        <p class="field_val">02/05/2022</p>
                    </div>
                </div>
                <div class="price">
                    <p class="regular_price">1.900.000 đ</p>
                    <p class="discount_price">1.390.000 đ</p>
                </div>
            </div>
            <div class="divider2"></div>
        </div>
        
    </div>

</div>