
<div class="content">
    <div class="container">
        <div class="content__title">
            <h2>eCommerce</h2>
            <h4>Trang thương mại điện tử hàng đầu Việt Nam</h4>
        </div>
        <form class="content__form form" method="POST" id="form-1">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="username" placeholder="Nhập email của bạn" name="email">
                <small class="form-text"></small>
            </div>
            <div class="form-group">
                <label for="username">Tài khoản</label>
                <input type="text" class="form-control" id="username" placeholder="Nhập tài khoản" name="username">
                <small class="form-text"></small>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password">
                <small class="form-text"></small>
            </div>
            <div class="form-group">
                <label for="password-Confirm">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập lại mật khẩu" name="password-Confirm">
                <small class="form-text"></small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
            <p class="naviLog text-muted">Bạn đã có tài khoản?
                <a href="/buyer/login">Hãy đăng nhập</a>
            </p>
        </form>    
    </div>
</div>

