<div class="contain">
    <div class="contain__header">
        <p class="title">Địa chỉ giao hàng</p>
        <p class="sub_title">Quản lí địa chỉ giao hàng của bạn</p>
        <button class="btnAdd">Thêm địa chỉ</button>
        <div class="divider2"></div>
    </div>
    <div class="contain__body">
        <div class="address_item active">
            <div class="addr_item_field">
                <lable class="addr_item_lab">Họ và tên</lable>
                <p class="addr_item_val">Nguyen Thai Tuan</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Số điện thoại</lable>
                <p class="addr_item_val">0967 781 796</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Địa chỉ</lable>
                <p class="addr_item_val">Ktx khu A ĐHQG, Đường Tạ Quang Bửu, Phường Linh Trung
                    Thành Phố Thủ Đức, TP. Hồ Chí Minh</p>
            </div>
            <p class="addr_item_edit_txt">Sửa</p>
            <button class="addr_item_btn_edit">Chọn làm địa chỉ giao hàng</button>
            <div class="divider2"></div>
        </div>
        <div class="address_item">
            <div class="addr_item_field">
                <lable class="addr_item_lab">Họ và tên</lable>
                <p class="addr_item_val">Nguyen Thai Tuan</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Số điện thoại</lable>
                <p class="addr_item_val">0967 781 796</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Địa chỉ</lable>
                <p class="addr_item_val">Ktx khu A ĐHQG, Đường Tạ Quang Bửu, Phường Linh Trung
                    Thành Phố Thủ Đức, TP. Hồ Chí Minh</p>
            </div>
            <p class="addr_item_edit_txt">Sửa</p>
            <button class="addr_item_btn_edit">Chọn làm địa chỉ giao hàng</button>
            <div class="divider2"></div>
        </div>
        <div class="address_item">
            <div class="addr_item_field">
                <lable class="addr_item_lab">Họ và tên</lable>
                <p class="addr_item_val">Nguyen Thai Tuan</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Số điện thoại</lable>
                <p class="addr_item_val">0967 781 796</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Địa chỉ</lable>
                <p class="addr_item_val">Ktx khu A ĐHQG, Đường Tạ Quang Bửu, Phường Linh Trung
                    Thành Phố Thủ Đức, TP. Hồ Chí Minh</p>
            </div>
            <p class="addr_item_edit_txt">Sửa</p>
            <button class="addr_item_btn_edit">Chọn làm địa chỉ giao hàng</button>
            <div class="divider2"></div>
        </div>
        <div class="address_item">
            <div class="addr_item_field">
                <lable class="addr_item_lab">Họ và tên</lable>
                <p class="addr_item_val">Nguyen Thai Tuan</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Số điện thoại</lable>
                <p class="addr_item_val">0967 781 796</p>
            </div>
            <div class="addr_item_field">
                <lable class="addr_item_lab">Địa chỉ</lable>
                <p class="addr_item_val">Ktx khu A ĐHQG, Đường Tạ Quang Bửu, Phường Linh Trung
                    Thành Phố Thủ Đức, TP. Hồ Chí Minh</p>
            </div>
            <p class="addr_item_edit_txt">Sửa</p>
            <button class="addr_item_btn_edit">Chọn làm địa chỉ giao hàng</button>
            <div class="divider2"></div>
        </div>
    </div>

</div>