<div class="contain">
    <div class="contain__header">
        <p class="title">Đổi mật khẩu</p>
        <p class="sub_title">Hãy cập nhật mật khẩu thường xuyên để bảo vệ tài khoản của bạn</p>
        <div class="divider2"></div>
    </div>
    <div class="contain__body">
        <div class="form-group error">
            <label class="form-label">Mật khẩu hiện tại</label>
            <input placeholder="Nhập mật khẩu hiện tại của bạn ..." type="password" class="form-control" id="input_displayname">
            <span class="form-text">Mật khẩu cũ vừa nhập không đúng</span>
        </div>
        <div class="form-group">
            <label class="form-label">Mật khẩu mới</label>
            <input placeholder="Nhập mật khẩu mới" type="password" class="form-control" id="input_displayname">
            <span class="form-text"></span>
        </div>
        <div class="form-group">
            <label class="form-label">Mật khẩu mới</label>
            <input placeholder="Nhập lại mật khẩu mới ..." type="password" class="form-control" id="input_displayname">
            <span class="form-text"></span>
        </div>
        <button class="btnChange">Thay đổi</button>
    </div>

</div>