<div class="contain">
    <div class="contain__header">
        <p class="title">Thông tin cá nhân</p>
        <p class="sub_title">Quản lí thông tin cá nhân để bảo mật tài khoản tốt hơn</p>
        <div class="divider2"></div>
    </div>
    <div class="contain__body">
        <div class="input_basic_info">
            <div class="form-group">
                <label class="form-label">Tên hiển thị</label>
                <input value="tuannt02" placeholder="Nhập tên hiển thị ..." type="text" class="form-control" id="input_displayname">
                <span class="form-text"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tên</label>
                <input value="Nguyen Tuan" placeholder="Nhập tên đầy đủ của bạn ..." type="text" class="form-control" id="input_name">
                <span class="form-text"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <p class="form-control" id="email_text">bladehotboy@gmail.com</p>
            </div>
            <div class="form-group">
                <label class="form-label">Số điện thoại</label>
                <input value="0967 781 796" placeholder="Nhập số điện thoại của bạn ..." type="text" class="form-control" id="input_name">
            </div>
            <div class="form-group">
                <label class="form-label">Giới tính</label>
                <div class="form-check">
                    <input checked class="form-check-input" id="input_gender" type="radio" name="input_gender">
                    <label class="form-check-lable">Nam</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="input_gender" type="radio" name="input_gender">
                    <label class="form-check-lable">Nữ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="input_gender" type="radio" name="input_gender">
                    <label class="form-check-lable">Khác</label>
                </div>
            </div>  
            <div class="form-group">
                <div class="form-label">Ngày sinh</div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Chọn ngày</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Chọn tháng</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Chọn năm</option>
                    <option value="1">2000</option>
                    <option value="2">2001</option>
                    <option value="3">2002</option>
                </select>
            </div>
        </div>
        <div class="divider3"></div>
        <div class="input_pic">
            <img src="https://static2.yan.vn/YanNews/2167221/202003/dan-mang-du-trend-thiet-ke-avatar-du-kieu-day-mau-sac-tu-anh-mac-dinh-b0de2bad.jpg" alt="Ảnh đại diện">
            <button class="btn_edit">
                Chọn ảnh
            </button>
        </div>
        <button class="btnSave">
            Lưu
        </button>
    </div>
</div>