<footer class="section-p1">
    <div class="col">
        <h4>Hỗ trợ khách hàng</h4>
        <a href="#">Các câu hỏi thường gặp</a>
        <a href="#">Hướng dẫn đặt hàng</a>
        <a href="#">Phương thức vận chuyển</a>
        <a href="/csbh">Chính sách đổi trả</a>
    </div>
    <div class="col">
        <h4>Về chúng tôi</h4>
        <a href="#">Giới thiệu</a>
        <a href="#">Số điện thoại liên hệ
            <br>
            (+84) 967 781 796
        </a>
    </div>

    <div class="col">
        <h4>Chứng nhận bởi</h4>
        <div class="certification">
        <a href="#"
            ><img src="/img/certification.png" alt="certification"
        /></a>
        </div>
    </div>
    <div class="col">
        <h4>Phương thức thanh toán</h4>
        <a href="#" class="payment-icon">
            <i class="bx bx-qr"></i>
            <span>QR Code</span>
        </a>
        <a href="#" class="payment-icon">
            <i class="bx bx-money"></i>
            <span>Tiền mặt</span>
        </a>
        <a href="#" class="payment-icon">
            <i class="bx bx-credit-card"></i>
            <span>Internet Banking</span>
        </a>
    </div>
    <div class="copyright">
        <p>@2022, Bản quyền thuộc về KMS company</p>
    </div>
</footer>