<nav class="navbar" id="bt-ovd">
    <div class="container">
        <div class="brandName">
            <a href="/" class="brand">x-Sport</a>
        </div>
        <a href="#" class="helpMe">Bạn cần giúp đỡ</a>
    </div>
</nav>