<section id="header">
    <a href="/" class="logo">x-Sport</a>
    <div>
        <input type="text" placeholder="Tìm kiếm trên E-Commerce" />
        <a href="#"><i class="bx bx-search"></i></a>
    </div>

    <a href="#" class="menu-icon">
        <i class="bx bx-purchase-tag-alt"></i>
        <span>Khuyến mãi</span>
    </a>

    <a href="#" class="menu-icon">
        <i class="bx bx-task"></i>
        <span>Đơn hàng</span>
    </a>


    <a href="#" class="menu-icon">
        <i class="bx bx-bell"></i>
        <span>Thông báo</span>
    </a>

    <a href="/logout" class="menu-icon">
        <i class="bx bx-cart-alt"></i>
        <span>{{user.email}}</span>
    </a>

    <a href="/user/sign_in" class="menu-icon">
        <i class="bx bx-user-circle"></i>
        <span>Đăng nhập</span>
    </a>

</section>