<nav class="navbar">
    <div class="container">
        <div class="brandName">
            <a href="/" class="brand">eCommerce</a>
        </div>
        <a href="#" class="helpMe">Bạn cần giúp đỡ</a>
    </div>
</nav>