<div id="main">
    <div id="slider">
        <div class="text-page">
            <h1>CHÍNH SÁCH ĐỔI HÀNG & BẢO HÀNH</h1>
            <div>Trang Chủ / Hướng dẫn mua hàng / Chính sách bảo hành</div>
        </div>
    </div>

    <div id="content">
        <div class="page-content">
                <h2 class="header-page-content">CHÍNH SÁCH ĐỔI HÀNG & BẢO HÀNH CỦA X-SPORT</h2>
                <h3 class="header-content">ĐỔI TRẢ TRONG 15 NGÀY NẾU CHƯA SỬ DỤNG</h3> 
                    <p class="mini-word">Nếu khách hàng đã mua hàng tại X-Sport nhưng sau đó đổi ý, hoặc mua cho người quen nhưng họ không thích và <b>HÀNG HÓA CHƯA MANG RA SỬ DỤNG</b>  thì trong vòng 15 ngày kể từ ngày nhận hàng, khách hàng có thể đổi lấy sản phẩm khác, hoặc trả hàng và nhận lại tiền.</p>
                    
                <h3 class="header-content">ĐỔI TRẢ TRONG 30 NGÀY NẾU HÀNG BỊ LỖI SẢN XUẤT </h3>
                    <p class="mini-word">Trong vòng 30 ngày kể từ ngày mua hàng, nếu sản phẩm bị lỗi sản xuất (không phải do lỗi chủ quan của người sử dụng) dẫn tới không sử dụng được thì Khách hàng được đổi ngay sản phẩm mới, hoặc trả hàng và nhận lại tiền.</p>
        <div class="table-one">  
            <div class="table-left">
                <p class="content-underlines">LỖI ĐƯỢC ĐỔI TRẢ TRONG 30 NGÀY</p>
                    <table class="table-img" border="1" cellpadding="30" bgcolor="#C3E6CB">
                    <tr>
                        <th style="padding: 10px;">Lỗi</th>
                        <th style="padding: 10px;">Hình ảnh</th>
                    </tr>
                    <tr>
                        <th width= 400px class="content-shoe-img" >1. Rách đế, bể đế </th>
                        <th><img src="/img/1.jpg" alt="" class="shoe-img"></th>
                    </tr>
                    <tr>
                        <td width= 400px class="content-shoe-img">2. Rách da, thủng lỗ </td>
                        <td><img src="/img/2.jpg" alt="" class="shoe-img"></td>
                    </tr>
                    <tr>
                        <td width= 400px class="content-shoe-img">3. Hở keo trên 5cm </td>
                        <td><img src="/img/3.jpg" alt="" class="shoe-img"></td>
                    </tr>
                </table>
            </div>
            <div class="table-right">
                <p class="content-underlines" >LỖI KHÔNG ĐỔI TRẢ TRONG 30 NGÀY <b>(ĐÃ QUA SỬ DỤNG)</b></p>
                <table class="table-img" border="1" cellpadding="30" bgcolor="#FFEEBA" >
                    <tr>
                        <th style="padding: 10px;">Lỗi</th>
                        <th style="padding: 10px;">Hình ảnh</th>
                    </tr>
                    <tr>
                        <th width= 400px class="content-shoe-img">1. Đế mòn, mòn đinh </th>
                        <th><img src="/img/4.jpg" alt="Ảnh giày lỗi" class="shoe-img" ></th>
                    </tr>
                    <tr>
                        <td width= 400px class="content-shoe-img">2. Mòn da </td>
                        <td><img src="/img/5.jpg" alt="" class="shoe-img"></td>
                    </tr>
                    <tr>
                        <td width= 400px class="content-shoe-img">3. Bung chỉ, đứt chỉ, thừa chỉ. 
                            <div style="font-size: 18px;">Bung chỉ upper (Chỉ này mang tính trang trí, không ảnh hưởng đến khả năng hỗ trợ của giày)</div>
                        </td>
                        <td><img src="/img/6.jpg" alt="" class="shoe-img"></td>
                    </tr>
                </table>
            </div>
            <div class="table-mid">
                <p class="content-underlines">ĐỔI TRẢ TRONG 90 NGÀY NẾU HÀNG BỊ LỖI SẢN XUẤT & KHÔNG KHẮC PHỤC ĐƯỢC</p>
                <table class="last-table table-img" border="1" cellpadding="30" bgcolor="#C3E6CB" style="min-height: 500px ;">
                <tr>
                        <th style="padding: 10px;">Lỗi</th>
                        <th style="padding: 10px;">Hình ảnh</th>
                </tr>
                <tr>
                    <th width= 400px class="content-shoe-img" >1. Rách đế, bể đế </th>
                    <th><img src="/img/7.jpg" alt="" class="shoe-img" ></th>
                </tr>
                <tr>
                    <th width= 400px class="content-shoe-img">2. Bung đế trên 20% giày </th>
                    <th><img src="/img/8.jpg" alt="" class="shoe-img" ></th>
                </tr>
                </table>
            </div>
        </div>
            
        </div>
        <div class="notice" style="padding: 30px;">
            <h2 class="notice-content"><b style="font-size: 35px;">LƯU Ý</b>
                <li>Những trường hợp gãy đinh hay bể đế (đối với sản phẩm Giày Cỏ Tự Nhiên) do sử dụng sai mặt sân sẽ không được bảo hành. </li>
                <li>Không đổi hàng với hàng sale trên trên 25%.</li>
                <li>Vui lòng liên hệ HOTLINE để được tư vấn rõ về bảo hành</li>
            </h2>
        </div>
    </div>

    
</div> 