<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Sport</title>
    <link rel="shortcut icon" href="/img/giay.ico">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sidebar_admin.css">
    <link rel="stylesheet" href="/css/listProductView.css">
    <link rel="stylesheet" href="/css/adminCreateProduct.css">
    <link rel="stylesheet" href="/css/{{ val }}.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
</head>
<body>

    <div class="main">
        {{> admin/sidebar}}
        {{{body}}}
    </div>

    <script src="/js/sidebar_admin.js"></script>
    <script src="/js/createProduct_admin.js"></script>
    <script src="/js/viewProduct_admin.js"></script>
</body>
</html>