<div class="container">
    <div class="header-toggle">
        <a href="#">Finished</a>
        <a href="#">In progress</a>
        <a href="#">Canceled</a>
        <div class="separate"></div>
    </div>
    <div class="wrap-body">
        <div class="contain-left">
            <h2 class="title">Transaction detail</h2>
            <div class="info_user">
                <div class="info_user_item">
                    <span class="label id">Transaction ID</span>
                    <p class="value">Hoàng Văn Phúc</p>
                </div>
                <div class="divider"></div>
                <div class="info_user_item">
                    <span class="label">Customer</span>
                    <p class="value">Hoàng Văn Phúc</p>
                </div>
                <div class="divider"></div>
                <div class="info_user_item">
                    <span class="label">Order date</span>
                    <p class="value">Hoàng Văn Phúc</p>
                </div>
                <div class="divider"></div>
                <div class="info_user_item">
                    <span class="label">Address</span>
                    <p class="value addr">TP. Hồ Chí Minh, Quận Thủ Đức, Khu Phố 6, Phường Linh Trung, KTX Khu A TP. Hồ Chí Minh, Quận Thủ Đức, Khu Phố 6, Phường Linh Trung, KTX Khu A</p>
                </div>
                <div class="divider"></div>
            </div>
            <h2 class="title bill">Bill</h2>
            <div class="group_bill">
                <div class="product_item">
                    <img src="/img/1.jpg" alt="" class="img_item">
                    <div class="info_item">
                        <p class="name">Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên</p>
                        <div class="field field_color">
                            <p class="field_name">Màu:</p>
                            <p class="field_val">Xanh</p>
                            <p class="field_name" style="margin-left: 20px;">Size:</p>
                            <p class="field_val">39</p>
                        </div>
                        <div class="field field_quantity">
                            <p class="field_name">Số lượng mua:</p>
                            <p class="field_val">3</p>
                        </div>
                    </div>
                    <div class="info_another_item">
                        <div class="price">
                            <p class="regular_price">100.000 đ</p>
                            <p class="discount_price">200.000 đ</p>
                        </div>
                    </div>
                    <div class="divider2"></div>
                </div>
                <div class="product_item">
                    <img src="/img/1.jpg" alt="" class="img_item">
                    <div class="info_item">
                        <p class="name">Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên</p>
                        <div class="field field_color">
                            <p class="field_name">Màu:</p>
                            <p class="field_val">Xanh</p>
                            <p class="field_name" style="margin-left: 20px;">Size:</p>
                            <p class="field_val">39</p>
                        </div>
                        <div class="field field_quantity">
                            <p class="field_name">Số lượng mua:</p>
                            <p class="field_val">3</p>
                        </div>
                    </div>
                    <div class="info_another_item">
                        <div class="price">
                            <p class="regular_price">100.000 đ</p>
                            <p class="discount_price">200.000 đ</p>
                        </div>
                    </div>
                    <div class="divider2"></div>
                </div>
                <div class="product_item">
                    <img src="/img/1.jpg" alt="" class="img_item">
                    <div class="info_item">
                        <p class="name">Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên Sản phẩm a có màu xanh và tên</p>
                        <div class="field field_color">
                            <p class="field_name">Màu:</p>
                            <p class="field_val">Xanh</p>
                            <p class="field_name" style="margin-left: 20px;">Size:</p>
                            <p class="field_val">39</p>
                        </div>
                        <div class="field field_quantity">
                            <p class="field_name">Số lượng mua:</p>
                            <p class="field_val">3</p>
                        </div>
                    </div>
                    <div class="info_another_item">
                        <div class="price">
                            <p class="regular_price">100.000 đ</p>
                            <p class="discount_price">200.000 đ</p>
                        </div>
                    </div>
                    <div class="divider2"></div>
                </div>

                
            </div>
            <div class="group_check_out">
                <div class="info">
                    <div class="info_item">
                        <p class="field">Quantity</p>
                        <p class="value">7</p>
                    </div>
                    <div class="info_item">
                        <p class="field">Subtotal</p>
                        <p class="value">149.000 đ</p>
                    </div>
                    <div class="info_item">
                        <p class="field">Discount</p>
                        <p class="value">5%</p>
                    </div>
                    <div class="info_item">
                        <p class="field">Delivery fee</p>
                        <p class="value">23.000 đ</p>
                    </div>
                </div>
                <div class="divider2"></div>
                <div class="billed">
                    <p class="field">Total</p>
                    <p class="value">164.000 đ</p>
                </div>
            </div>

        </div>
        <div class="contain-right">
            <div class="group_status">
                {{!-- Nhớ có 3 thg modify là: inprogress, finished, prepare --}}
                <div class="header_status inprogress finished">Finished</div>
                {{!-- End --}}
                <div class="contain">
                    <p class="method_delivery">Phương thức giao hàng: Tiêu chuẩn</p>
                    <p class="date_delivery">Giao hàng vào ngày: 19/05</p>
                </div>
            </div>
            <button class="btn_rm_transaction">
                Remove this transaction
            </button>
        </div>
    </div>

</div>