<div class="container">
    <div class="header-toggle">
        <a href="#">Finished</a>
        <a href="#">In progress</a>
        <a href="#">Canceled</a>
        <div class="separate"></div>
    </div>
    <div class="wrap-body">

    </div>

</div>