
<div class="container">
    <div class="header-toggle">
        <a href="#">Finished</a>
        <a href="#">In progress</a>
        <a href="#">Canceled</a>
        <div class="separate"></div>
    </div>
    <div class="wrap-body">
        <form id="search-form" action="/admin/search-orders/admin-orders" method="GET">
            <div class="search-box">
                <i class='bx bx-search-alt-2'></i>
                <input type="text" name="value" id="search-input" placeholder="Search here...">
            </div>
        </form>
        <div class="container-manager">
            <p class="guide-text">Click on item to view detail transaction...</p>
            <div class="table-order">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Created</th>
                            <th>Customer</th>
                            <th>Total</th>
                            <th>Delivery method</th>
                            <th>option</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>20/06/2022</td>
                            <td class="name">Hariet Santiago</td>
                            <td class="total">270.000đ</td>
                            <td>Cấp tốc</td>
                            <td class="option">
                                <a href="#">View Detail</a>
                                <a href="#">Move to inprogress</a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>a</td>
                            <td>b</td>
                            <td>b</td>
                            <td>b</td>
                            <td>b</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>a</td>
                            <td>b</td>
                            <td>b</td>
                            <td>b</td>
                            <td>b</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>