
    <div class="cart">
        <div class="cart-top">
            <div class="cart-top-left">
                <div class="wrap-checkbox">
                    <input type="checkbox" id="top-check-all">
                </div>
                <span>Sản phẩm</span>
            </div>

            <div class="cart-top-right">
                <span>Đơn giá</span>
                <span>Số lượng</span>
                <span>Số tiền</span>
                <span>Thao tác</span>
            </div>
        </div>
        
        <div class="cart-body">
            <div class="first-line"></div>
            <div class="cart-wrap-item">
                <div class="cart-item">

                    <div class="cart-item-left">
                        <div class="item-left__wrap-chekbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <img src="https://cf.shopee.vn/file/1657b14b218fd5962fc3508d367379fc" alt="">
                        <div class="description-item">
                            <h3 class="item-name">[Mã SKAMONTH4 giảm 10% đơn 50K] Áo thun nam POLO trơn vải cá sấu cotton cao cấp ngắn tay cực sang trọng</h3>
                            <div class="item-option">
                                <span>Phân loại:</span>
                                <span class="item-color">Xanh rêu</span>
                                <span class="item-size">38</span>
                            </div>
                        </div>                   
                    </div>

                    <div class="cart-item-right">
                        <span class="item__old-price">400.000đ</span>
                        <div class="item__quality">
                            <button class="decrease" onclick="Minus(this)">
                                <i class="bx bx-minus"></i>
                            </button>
                            <input
                                class="quantity-input"
                                id="textbox-quatity"
                                type="text"
                                role="spinbutton"
                                aria-valuenow="1"
                                value="1"
                            />
                            <button class="increase" onclick="Plus(this)">
                                <i class="bx bx-plus"></i>
                            </button>
                        </div>
                        <h3 class="item-price">289.000đ</h3>
                        <button class="item-button__delete">Xóa</button>
                    </div>
                </div>
                <div class="first-line"></div>
            </div>



            <div class="cart-wrap-item">
                <div class="cart-item">

                    <div class="cart-item-left">
                        <div class="item-left__wrap-chekbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <img src="	https://cf.shopee.vn/file/3731b9bfbcd052f7da9e07a0fb4986d3" alt="">
                        <div class="description-item">
                            <h3 class="item-name">[Mã SKAMONTH4 giảm 10% đơn 50K] Áo thun nam POLO trơn vải cá sấu cotton cao cấp ngắn tay cực sang trọng</h3>
                            <div class="item-option">
                                <span>Phân loại:</span>
                                <span class="item-color">Xanh rêu</span>
                                <span class="item-size">38</span>
                            </div>
                        </div>                   
                    </div>

                    <div class="cart-item-right">
                        <span class="item__old-price">400.000đ</span>
                        <div class="item__quality">
                            <button class="decrease" onclick="Minus(this)">
                                <i class="bx bx-minus"></i>
                            </button>
                            <input
                                class="quantity-input"
                                id="textbox-quatity"
                                type="text"
                                role="spinbutton"
                                aria-valuenow="1"
                                value="1"
                            />
                            <button class="increase" onclick="Plus(this)">
                                <i class="bx bx-plus"></i>
                            </button>
                        </div>
                        <h3 class="item-price">289.000đ</h3>
                        <button class="item-button__delete">Xóa</button>
                    </div>
                </div>
                <div class="first-line"></div>
            </div>



            <div class="cart-wrap-item">
                <div class="cart-item">

                    <div class="cart-item-left">
                        <div class="item-left__wrap-chekbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <img src="https://cf.shopee.vn/file/e86689e29f6f3d7131d0a0948ef254c1" alt="">
                        <div class="description-item">
                            <h3 class="item-name">[Mã SKAMONTH4 giảm 10% đơn 50K] Áo thun nam POLO trơn vải cá sấu cotton cao cấp ngắn tay cực sang trọng</h3>
                            <div class="item-option">
                                <span>Phân loại:</span>
                                <span class="item-color">Xanh rêu</span>
                                <span class="item-size">38</span>
                            </div>
                        </div>                   
                    </div>

                    <div class="cart-item-right">
                        <span class="item__old-price">400.000đ</span>
                        <div class="item__quality">
                            <button class="decrease" onclick="Minus(this)">
                                <i class="bx bx-minus"></i>
                            </button>
                            <input
                                class="quantity-input"
                                id="textbox-quatity"
                                type="text"
                                role="spinbutton"
                                aria-valuenow="1"
                                value="1"
                            />
                            <button class="increase" onclick="Plus(this)">
                                <i class="bx bx-plus"></i>
                            </button>
                        </div>
                        <h3 class="item-price">289.000đ</h3>
                        <button class="item-button__delete">Xóa</button>
                    </div>
                </div>
                <div class="first-line"></div>
            </div>



            <div class="cart-wrap-item">
                <div class="cart-item">

                    <div class="cart-item-left">
                        <div class="item-left__wrap-chekbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <img src="https://cf.shopee.vn/file/1657b14b218fd5962fc3508d367379fc" alt="">
                        <div class="description-item">
                            <h3 class="item-name">[Mã SKAMONTH4 giảm 10% đơn 50K] Áo thun nam POLO trơn vải cá sấu cotton cao cấp ngắn tay cực sang trọng</h3>
                            <div class="item-option">
                                <span>Phân loại:</span>
                                <span class="item-color">Xanh rêu</span>
                                <span class="item-size">38</span>
                            </div>
                        </div>                   
                    </div>

                    <div class="cart-item-right">
                        <span class="item__old-price">400.000đ</span>
                        <div class="item__quality">
                            <button class="decrease" onclick="Minus(this)">
                                <i class="bx bx-minus"></i>
                            </button>
                            <input
                                class="quantity-input"
                                id="textbox-quatity"
                                type="text"
                                role="spinbutton"
                                aria-valuenow="1"
                                value="1"
                            />
                            <button class="increase" onclick="Plus(this)">
                                <i class="bx bx-plus"></i>
                            </button>
                        </div>
                        <h3 class="item-price">289.000đ</h3>
                        <button class="item-button__delete">Xóa</button>
                    </div>
                </div>
                <div class="first-line"></div>
            </div>



        </div>

        <div class="cart-bottom">
            <div class="cart-bottom-left">
                <div class="wrap-bottom__checkbox">
                    <input type="checkbox" class="bottom__checkbox" id="bottom-check-all">
                </div>
                    <p>Chọn tất cả</p>
                <button class="bottom-button__delete-all" onclick="unCheckedAll()">
                    Xóa
                    </button>
            </div>
    
            <div class="cart-bottom-right">
                <h4>Tổng thanh toán: </h4>
                <h2 class="total-price">1.194.000đ</h2>
                <button class="button__payment">Thanh toán</button>
            </div>
        </div>

    </div>