<div class="container-payment">
    <div class="payment-body">
        <h1>THANH TOÁN</h1>
        <div class="container-address">
            <div class="payment-contact">
                <p>Địa chỉ nhận hàng</p>
                <p class="name">Hoàng Văn Phúc</p>
                <p class="phone">0852 106 299</p>
            </div>
            <div class="payment-address">
                <p>Ktx khu A ĐHQG, Phường Linh Trung, Thành Phố Thủ Đức, TP. Hồ Chí Minh TP. Hồ Chí Minh TP. Hồ Chí Minh
                    TP. Hồ Chí Minh</p>
            </div>
            <div class="payment-change-address">
                <div class="address-default">
                    <span>Mặc định</span>
                </div>
                <a href="#">THAY ĐỔI</a>
            </div>
        </div>

        <div class="container-title">
            <div class="title-left">
                <span>Sản phẩm</span>
            </div>
            <div class="title-right">
                <span>Đơn giá</span>
                <span>Số lượng</span>
                <span>Thành tiền</span>
            </div>
        </div>

        <div class="container-list-item-payment">
            <div class="item-payment">
                <div class="item-left">
                    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.6435-9/42899406_470681256762293_5118235260181544960_n.jpg?stp=dst-jpg_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vzPkztik4w0AX-zYqDC&_nc_ht=scontent.fsgn3-1.fna&oh=00_AT-66CiV7XgAhAgfy2cWZhFPGaukLxXbNtv5I8_6cqzsdA&oe=62CD5D36"
                        alt="">
                    <div class="item-description">
                        <h2 class="product-name">ADIDAS NEMEZIZ .3 TF EH0517 PRECISION TO BLUR PACK - ENERGY INK/SIGNAL
                            PINK/BLACK</h2>
                        <div class="item-options">
                            <span>Phân loại: </span>
                            <span>Xanh trắng</span>
                            <span>38</span>
                        </div>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-result">
                        <span class="price">400.000đ</span>
                        <span class="quantity">4</span>
                        <span class="sum-price">375.000đ</span>
                    </div>
                    <div class="item-message">
                        <span>Lời nhắn: </span>
                        <input type="text" placeholder="Lưu ý cho người bán ...">
                    </div>
                </div>
            </div>
            <div class="item-separate"></div>

            <div class="item-payment">
                <div class="item-left">
                    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.6435-9/42899406_470681256762293_5118235260181544960_n.jpg?stp=dst-jpg_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vzPkztik4w0AX-zYqDC&_nc_ht=scontent.fsgn3-1.fna&oh=00_AT-66CiV7XgAhAgfy2cWZhFPGaukLxXbNtv5I8_6cqzsdA&oe=62CD5D36"
                        alt="">
                    <div class="item-description">
                        <h2 class="product-name">ADIDAS NEMEZIZ .3 TF EH0517 PRECISION TO BLUR PACK - ENERGY INK/SIGNAL
                            PINK/BLACK</h2>
                        <div class="item-options">
                            <span>Phân loại: </span>
                            <span>Xanh trắng</span>
                            <span>38</span>
                        </div>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-result">
                        <span class="price">400.000đ</span>
                        <span class="quantity">4</span>
                        <span class="sum-price">375.000đ</span>
                    </div>
                    <div class="item-message">
                        <span>Lời nhắn: </span>
                        <input type="text" placeholder="Lưu ý cho người bán ...">
                    </div>
                </div>
            </div>
            <div class="item-separate"></div>

            <div class="item-payment">
                <div class="item-left">
                    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.6435-9/42899406_470681256762293_5118235260181544960_n.jpg?stp=dst-jpg_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=vzPkztik4w0AX-zYqDC&_nc_ht=scontent.fsgn3-1.fna&oh=00_AT-66CiV7XgAhAgfy2cWZhFPGaukLxXbNtv5I8_6cqzsdA&oe=62CD5D36"
                        alt="">
                    <div class="item-description">
                        <h2 class="product-name">ADIDAS NEMEZIZ .3 TF EH0517 PRECISION TO BLUR PACK - ENERGY INK/SIGNAL
                            PINK/BLACK</h2>
                        <div class="item-options">
                            <span>Phân loại: </span>
                            <span>Xanh trắng</span>
                            <span>38</span>
                        </div>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-result">
                        <span class="price">400.000đ</span>
                        <span class="quantity">4</span>
                        <span class="sum-price">375.000đ</span>
                    </div>
                    <div class="item-message">
                        <span>Lời nhắn: </span>
                        <input type="text" placeholder="Lưu ý cho người bán ...">
                    </div>
                </div>
            </div>
            <div class="item-separate"></div>

        </div>

        <div class="container-bottom-payment">
            <div class="bottom-payment-left">
                <div class="delivery-option">
                    <span>Loại vận chuyển: </span>
                    <span class="delivery-choosed">
                        cấp tốc
                        <i class='bx bx-chevron-down'></i>
                        <ul class="sub-option">
                            <li>cấp tốc</li>
                            <li>bình thường</li>
                        </ul>
                    </span>
                </div>
                <p>(hàng sẽ được vận chuyển nhanh trong khoảng 1 đến 2 ngày)</p>
            </div>
            <div class="bottom-payment-mid">
                <div class="Total-price-merchandise">
                    <p>Tổng tiền hàng: </p>
                    <span>1.095.000 đ</span>
                </div>
                <div class="Price-ship">
                    <p>Phí vận chuyển: </p>
                    <span>95.000 đ</span>
                </div>
                <div class="Total-checkout">
                    <p>Tổng thanh toán: </p>
                    <span>500.000 đ</span>
                </div>
            </div>
            <div class="bottom-payment-right">
                <button class="button-checkout">Đặt Hàng</button>
            </div>
        </div>
    </div>
</div>

<script>
    var delivery = document.querySelector('.delivery-choosed').firstChild;
    var deliveryOption = document.querySelector('.sub-option');
    var option = deliveryOption.getElementsByTagName('li');
    for(let li of option){
        li.addEventListener('click',function(e){
            delivery.textContent = this.textContent;
        })
    }
    
</script>