<div class="modal">
    <div class="modal__content">
        <h4 id="txt_title">Đặt lại mật khẩu</h4>
        <form class="form-group">
            <input type="text" class="input_email" placeholder="Nhập email ở đây ...">
            <p class="notify"></p>
        </form>
        <div class="btn_send">Gửi mã xác nhận đến email</div>
        <p class="txt_remember_pw">
            Bạn đã nhớ mật khẩu? 
            <a href="/user/sign_in" class="route_login">Đăng nhập ngay!</a>
        </p>
    </div>
</div>