    <div class="sidebar" id="sidebar">
        <div class="nav">
            <div>
                <a href="" class="nav-logo">
                    <img src="https://cdn.yousport.vn/Media/Icons/logo-gdb-icon-1.jpg" class="logo" alt="">
                    <span class="text">X - Sport</span>
                </a>
                <div class="nav-toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
                
                <ul class="nav-list">
                    <div class="nav-separate">
                        <span class="text-separate" id="separate">Home</span>
                        <div class="sepa-line"></div>
                    </div>                    
                    <a href="#" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bxs-dashboard icon'></i>
                        <span>Dashboard</span>
                    </a>
                    <div class="nav-separate">
                        <span class="text-separate" id="separate">Management</span>
                        <div class="sepa-line"></div>
                    </div>                    
                    <a href="/admin/view-product" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-credit-card-front icon'></i>
                        <span>Products</span>
                    </a>                    
                    <a href="/admin/banners/admin-banners" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-square-rounded icon'></i>
                        <span>Banners</span>
                    </a>                    
                    <a href="/admin/categories/admin-categories" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-list-ul icon'></i>
                        <span>Categories</span>
                    </a>                    
                    <a href="/admin/orders/preparing" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-receipt icon'></i>
                        <span>Orders</span>
                    </a>                    
                    <a href="/admin/brands/admin-brands" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-check icon'></i>
                        <span>Brands</span>
                    </a>   
                    <div class="nav-separate">
                        <span class="text-separate" id="separate">Another</span>
                        <div class="sepa-line"></div>
                    </div>                    
                    <a href="#" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-message-square-dots icon'></i>
                        <span>Chat</span>
                    </a>                       
                    <a href="#" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-podcast icon'></i>
                        <span>Setting</span>
                    </a>                       
                    <a href="#" class="nav-link">
                        <div class="before-item"></div>
                        <i class='bx bx-log-out icon'></i>
                        <span>Log out</span>
                    </a>                  
                </ul>
            </div>
            <div>
                <div class="nav-separate-account"></div>
                <a href="" class="nav-account">
                    <img src="https://tophinhanh.com/wp-content/uploads/2021/12/top-101-anh-avatar-dep-cho-con-gai-de-thuong-nhat-10.jpg" alt="" class="avatar">
                    <div>
                        <h2 class="name">Julia Senmanti</h2>
                        <p class="email">jusemam@gmail.com</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
        
